/* introPage arrow animation */
@keyframes arrowMove {
  0% {
    bottom: 40px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 40px;
  }
}
.infoArrow {
  animation-name: arrowMove;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */
  animation-delay: 1s;
}
/* introPage arrow animation */
