* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  visibility: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.flex {
  display: flex;
}

ul {
  padding: 0px;
}

.nanum {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nanumBold {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-style: normal;
}

html,
body {
  background-color: #fffcf3;
  display: block;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 2px; /* 세로축 스크롤바 길이 */

  height: 5px; /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;

  background-color: #fffcf3;
}

.shadow-bottom {
  box-shadow: 0 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.navbar {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
