.custom-image-gallery .image-gallery-image {
  width: 100%;
  height: 350px;
  /* z-index: 10; */
  object-fit: cover;
}

.custom-image-gallery .image-gallery-left-nav svg {
  width: 30x;
  height: 30px;
}

.custom-image-gallery .image-gallery-left-nav:hover svg {
  stroke: #ffbc11;
}

.custom-image-gallery .image-gallery-right-nav svg {
  width: 30px;
  height: 30px;
}

.custom-image-gallery .image-gallery-right-nav:hover svg {
  stroke: #ffbc11;
}
